<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page A</title>
</head>
<body>
    <h1>Soy la página A</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia magni, nesciunt ipsam eum similique blanditiis soluta. Non distinctio nihil quia eaque perferendis incidunt itaque repudiandae sequi. Iusto deserunt temporibus similique.</p>
    <ul>
        <li><a href="/pageB">Página B</a></li>
        <li><a href="/pageC">Página C</a></li>
    </ul>
    <script src="scripts/pageA.js"></script>
</body>
</html>